/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/*Browser default styling Reset*/
* { /*Browser Reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*Default styling for body of page*/
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

/*Hero Image and filter gradient*/
.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, /*Gradient flow direction*/
        #7ed56fcc, /*Gradient color 1*/
        #28b485cc) ,/*Gradient color 2*/
        url(../img/hero.jpg);/*Image covered by Gradient*/
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

/*Logo container div(image position)*/
.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
    
}

/*Logo Image (size)*/
.logo {
    height: 35px;
}

/*Header Text container div(Position)*/
.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Both lines of Header Text (Styling)*/
.heading-primary {
    color: #fff;
    text-transform: uppercase;

    /*Stops the two lines in header from doing little shift up at the end of animation*/
    backface-visibility: hidden;
}

/*First line of Header Text(Styling)*/
.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    

/*Calling the animation to this div*/
    animation-name: moveInLeft;

/*Animation total time duration*/
    animation-duration: 1.3s;

/*Animation timing in a more specific fashion*/
    animation-timing-function: ease-out;

    /*Other useful animation fx
 >>>>>   animation-delay: (X)seconds;
 >>>>>   animation-iteration-count: (X);
    */
}

/*Second line of Header Text (Styling)*/
.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17px;
    padding-left: 6px;
    

/*Calling the animation to this div in a more condensed way
Same way as writing:

    animation-name: moveInRight
    animation-duration: 1.3s;
    animation-timing-function: ease-out;
    All in one!
*/
    animation: moveInRight 1s ease-out;
}

/*Animation keyframes
-Keep opacity 0 to 1 for clean transition.UNLESS specified.
Must define 0% and 100% at minimum.
-Give animations meaningful names that make sense.
*/
@keyframes moveInLeft{
    0% {
        opacity: 0;
        transform: translateX(-100px);

    }
    80%{
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);

    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}