/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* { /*Browser Reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 30px;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}

.header{
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, /*Gradient flow direction*/
        #7ed56fcc, /*Gradient color 1*/
        #28b485cc) ,/*Gradient color 2*/
        url(../img/hero.jpg);/*Image covered by Gradient*/
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 200px, 0 100%);

}